// Colors
$color-white: #fff;
$color-blue: #55B7FF;
$color-blue-dark: #2C4058;
$color-purple: #7E5AFF;
$color-black: #000;

// Fonts
$font-monts: 'Montserrat', 'Arial', sans-serif;
$font-open-sans: 'Open Sans', 'Arial', sans-serif;
$font-sourse-sans-pro: 'Source Sans Pro', 'Arial', sans-serif;