.map {
  width: 100%;
  height: 700px;
}

.contacts-section {
  position: relative;
}

.contacts {
  max-width: 770px;
  margin: 0 auto;
  padding: 95px 60px 70px;
  background-color: $color-white;
  z-index: 2;

  .heading {
    margin-bottom: 47px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__info {
    margin-right: 15px;
    font-family: $font-open-sans;
    font-size: 18px;
    color: $color-black;
    margin-bottom: 50px;

    i {
      width: 18px;
      margin-right: 10px;
      color: $color-purple;

      &::before {
        font-size: 14px;
      }
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }
  }

  &__form {
    max-width: 310px;

    input {
      width: 100%;
      height: 41px;
      padding-bottom: 14px;
      margin-bottom: 33px;
      font-family: $font-monts;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $color-black;
      border-width: 0 0 1px 0;
      border-color: rgba(44, 64, 88, .2);
      transition: all .3s ease;

      &:last-of-type {
        margin-bottom: 30px;
      }

      &::placeholder {
        transition: opacity .3s ease;
      }

      &:focus-visible {
        outline: none;
        border-color: $color-blue-dark;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    .button {
      margin: 0 auto;
      font-size: 18px;
      padding: 12px;

      &:hover,
      &:focus {
        box-shadow: inset 0 -50px 0 0 $color-purple;
        border-color: $color-purple;
      }
    }
  }
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}