.projects-section {
  padding-top: 65px;
  margin-bottom: 90px;
  overflow-x: hidden;

  .heading {
    &::before {
      content: none;
    }
  }

  h3 {
    margin-bottom: 50px;
  }

  .button {
    margin-bottom: 60px;
  }
}

.project-list {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}

.project {
  &__description {
    padding-bottom: 25px;
  }

  &__img {
    max-width: 630px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__subheading {
    font-weight: 400;
    font-size: 22px !important;
    text-align: left;
  }

  &__heading {
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    font-family: $font-open-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $color-blue-dark;
    margin-bottom: 40px;
  }

  &__location {
    font-family: $font-open-sans;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: $color-black;

    i {
      color: $color-blue-dark;
      margin-right: 10px;
    }
  }
}